.flex-flow-column {
    display: contents;
    flex-flow: column;
}

.fit-content {
    flex: 0 1 auto;
}

.remaining-space {
    flex: 1 1 auto;
}

#next, #prev {
    height: 100%;
    width: 5%;
    filter: invert(90%);
}

#next:hover {
    background-color: white;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

#prev:hover {
    background-color: white;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.whiteSpace-preWrap {
    white-space: pre-wrap;
}

.max-h-50 {
    max-height: 50vh;
}

.mx-neg-2 {
    margin: -0.5rem;
}