RewriteEngine on

RewriteBase /chatroom/
#RewriteCond %{REQUEST_FILENAME} -d
#RewriteCond %{REQUEST_FILENAME} -f
#RewriteRule ^([a-zA-Z]+) index.php?controller=$1 [NC,L]
#RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+) index.php?controller=$1&action=$2 [NC,L]
RewriteRule ^create/([a-zA-Z]+) index.php?controller=create&action=$1 [NC,L]
RewriteRule ^create index.php?controller=create [NC,L]
RewriteRule ^chat/([0-9a-zA-Z]+) index.php?controller=chat&chat=$1 [NC,L]
RewriteRule ^join/([0-9]+)/([0-9a-zA-Z]+) index.php?controller=join&roomId=$1&user=$2